// You can override the default settings using the SCSS with on the @forward rule for "./settings".
// More information can be found here https://sass-lang.com/documentation/at-rules/use/#configuration

//  Example of overriding the default settings:
//

@forward "./settings" with (
  $primary: #9cddf9,
  $border-radius-base: 0.25rem,
  $package-card-border-radius: 0.5rem,
);

@forward "./settings";
